/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.02.2014., 09:13:48
    Author     : korisnik
*/

.row-fluid{
    padding:15px;
}


.green{
    color:#47cb2a;
}

.red{
    color:red;
}
.admin table{
    margin-top:20px;
}
.gallery{
    border-right:1px solid black;
    padding:15px;
    height:600px;
    overflow: scroll;
}


.gallery img{
    padding:5px;


}


#myimg{
    max-width: 400px;
}
.galleryimg{
    padding:5px;
    max-width: 150px;
}


.image-controls{
    padding-top:50px;
}


.imageview{
    padding-left:30px;
}


.fileupload-progress {
	margin: 10px 0;
}
.fileupload-progress .progress-extended {
	margin-top: 5px;
}
.error {
  color: red;
}

.prevnext{
    padding-top:50px;
}
.prevnext li{
    list-style-type: none;
    display:inline;
    padding:20px;   
}
.prevnext li a{
    font-size:60px;
}
