/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.02.2014., 09:13:48
    Author     : korisnik
*/

#container{
    padding:  0 15px 15px 15px;
}
.green{
    color:#47cb2a;
}
.red{
    color:red;
}

.gallery{
    min-height: 400px;
    max-height: 800px;
    overflow: scroll;
    padding:5px;
}
.gallery img{
    padding:  5px 0 5px 0;
}

.fileupload-progress {
    margin: 10px 0;
}
.fileupload-progress .progress-extended {
    margin-top: 5px;
}
.error {
    color: red;
}

#imagedetails{
    display:none;
}
.neigh{
    width: 50px;
    margin-top:5px;
}

.imgcontrols li{
    list-style-type: none;
}

.folders ul li{
    font-size: 17px;
    list-style-type: none;
    line-height: 1.5;
}
.imageview #imagedetails #imgname{
    padding-top:50px;
}
.image-controls li{
    margin:10px;
    width:200px;
}
.gallery img{
    width:180px;
    height:180px;
}
.imageview{
    overflow: scroll;
    max-height: 1000px;

}
#myimg{
    max-height: none;
    max-width: none;
}
#clear{
}